@import "tailwindcss";

/* Custom Theme Variables */

:root {
  --bg-color: white;
  --text-color: black;
  --card-bg: #f8f9fa;
  --border-color: #000;
  --badge-bg: var(--color-indigo-50);
  --badge-text: var(--color-indigo-700);
  --badge-ring: color-mix(in oklab, var(--color-indigo-700) 10%, transparent);
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #1a202c;
  --text-color: white;
  --card-bg: #2d3748;
  --border-color: #4a5568;
  --badge-bg: color-mix(in oklab, var(--color-indigo-400) 10%, transparent);
  --badge-text: var(--color-indigo-400);
  --badge-ring:color-mix(in oklab, var(--color-indigo-400) 30%, transparent);
}